{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
</head>
<body>
    <h2>🎉 Email Verified Successfully!</h2>
    <img src="https://yourwebsite.com/static/images/verification.png" alt="Verify Email" width="200"/>
    <p>Thank you for verifying your email. You can now log in.</p>
</body>
</html> {% endcomment %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
</head>
<body>
    <h2>🎉 Email Verified Successfully!</h2>
    <img src="https://yourwebsite.com/static/image" alt="Verify Email" width="200"/>
    <p>Thank you for verifying your email. You can now <a href="{% url 'login' %}">log in here</a>.</p>
</body>
</html> {% endcomment %}
{% comment %} <div dir="ltr">Welcom to the Association&nbsp;</div>
<div dir="ltr">click the belo link to verify and change your password</div>
<div dir="ltr">
  <a href="{% url 'login' %}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #070f78; color: #ffffff; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!</a>
</div>
 {% endcomment %}

 {% comment %} <p>Welcom to the Association</p>
<p>click the below link to change the password</p>
<p>
  <a href="{{ request.GET.email }}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #6c67b5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!
    <img src="https://cdn.tiny.cloud/1/744os35bk6lfhnyx14onzpqa8er3gs4s21opocmie2wxar65/tinymce/4.9.11-104/plugins/emoticons/img/smiley-wink.gif" alt="wink">
  </a>
  <img src="https://share1.cloudhq-mkt3.net/719e13aae95bf8.jpeg" alt="" width="290" height="174">
</p>
 {% endcomment %}
 {% comment %} <p style="margin: 0px;">Welcom to the Association</p>
 <p style="margin: 0px;">click the below link to change the password</p>
 <p style="margin: 0px;">
   <a href="{{ form.as_p }}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #6c67b5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!</a> 
   <img src="https://share1.cloudhq-mkt3.net/719e13aae95bf8.jpeg" alt="" width="290" height="174">
 </p>
  {% endcomment %}


  {% comment %} <p style="margin: 0px;">Welcome to the Association 
    <br>click the below llink to verify and change your password 
    <br>
    <a href="{% url 'login' %}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #b6b3e5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!</a> 
    <br>
    <br>
  </p>
  <p style="margin: 0px;">
    <img src="https://share1.cloudhq-mkt3.net/49e1e4b5e43c15.jpeg" alt="" width="290" height="174">
  </p>
   {% endcomment %}

{% comment %} <p style="margin: 0px;">Welcome to the Association 
  <br style="background: #bd5151;">click the below llink to verify and change your password 
  <br style="background: #bd5151;">
  <a href="{% url 'login' %}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #b6b3e5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!</a>
</p>
<table style="color: #333333; border: 0px solid #f5ffff; border-radius: 4px; width: 98%; max-width: 578px; background: #000000;" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="border: 0px solid #d5ecff; mso-border-alt: none; display: block; border-radius: 3px;">
      <td class="cloudHQ__main_td" style="display: block; padding: 0px; border-radius: 2px; border: 0px solid #99b0e1; font-size: 1em; vertical-align: top; background-color: white;">
        <table class="cloudHQ__second_table" style="border-collapse: collapse; width: 100%; text-align: left; height: 34px;" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr style="height: 34px;">
              <td style="padding-bottom: 6px; height: 34px;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="margin: 0px;">
  <br style="background: #bd5151;">
  <br style="background: #bd5151;">
</p>
<p style="margin: 0px;">
  <img src="https://share1.cloudhq-mkt3.net/49e1e4b5e43c15.jpeg" alt="" width="290" height="174">
</p> {% endcomment %}
{% comment %} 
<p style="margin: 0px;">&nbsp;</p>
<table style="color: #333333; border: 0px solid #f5ffff; border-radius: 4px; width: 98%; max-width: 578px; background: #000000;" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="border: 0px solid #d5ecff; mso-border-alt: none; display: block; border-radius: 3px;">
      <td class="cloudHQ__main_td" style="display: block; padding: 0px; border-radius: 2px; border: 0px solid #99b0e1; font-size: 1em; vertical-align: top; background: #acd4e6;">
        <table class="cloudHQ__second_table" style="border-collapse: collapse; width: 100.174%; text-align: left; height: 200px;" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr style="height: 34px;">
              <td style="padding-bottom: 6px; height: 34px;">
                <p>
                  <strong>
                    <span style="font-family: terminal, monaco, monospace;">Welcome to the Association</span>
                  </strong>
                </p>
                <p>
                  <strong>
                    <span style="font-family: terminal, monaco, monospace;">cilck the belo link to update your password!</span>
                  </strong>
                </p>
                <p>
                  <a href="{% url 'login' %}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #b6b3e5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Click Me!</a>
                </p>
                <p>
                  <img src="https://share1.cloudhq-mkt3.net/0ffc103d201608.jpeg" alt="" width="157" height="94">
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p style="margin: 0px;">
  <br style="background: #bd5151;">
  <br style="background: #bd5151;">
</p> {% endcomment %}
<p>Welcome to the Association
  <br>click 
</p>
<p>
  <a href="{{ reset_url }}" target="_blank" class="cloudHQ__gmail_elements_final_btn" style="background-color: #b6b3e5; color: #162111; border: 5px solid #000000; border-radius: 3px; box-sizing: border-box; font-size: 13px; font-weight: bold; line-height: 50px; padding: 12px 24px; text-align: center; text-decoration: none; text-transform: uppercase; vertical-align: middle;" rel="noopener">Reset password</a>
  <img src="https://share1.cloudhq-mkt3.net/debec7485b39a0.jpeg" alt="" width="215" height="129">
</p>
